<%# navbar %>
<div class="container">

  <div class="header">
    <h2>Pick your piggy!</h2>
  </div>

  <div class="cards-container">
    <% @pigs.each do |pig| %>
      <div class="card">

        <div class="pig-photo">
          <%= cl_image_tag pig.photo.key %>
        </div>

        <div class="pig-info">
          <p><%= pig.name %></p>
          <p><%= "#{pig.age} · #{pig.breed} · #{pig.price}" %></p>
        </div>

      </div>
    <% end %>
  </div>
</div>
