// Here's where the CSS for your index is
.background {
  background-image: url("https://img.freepik.com/premium-vector/cute-pig-seamless-pattern-background_42349-721.jpg?w=740");
  background-repeat: repeat;
}

.header {
  text-align: center;
  padding: 50px;
}
