.dashboard-container {
  margin-top: 50px;
}

.dashboard-items {
  display: flex;
  justify-content: space-between;
  margin: 50px 5% 100px;
}

.my-pigs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px 25px 40px;
  margin-left: 5%;
  background-color: white;
  box-shadow: $shadow;
  border-radius: 20px;
}

.bookings-button {
  width: 40%;
  text-align: center;
  border-radius: 30px;
  margin: 10px auto 10px;
  font-size: 20px;
  padding: 10px;

  a:hover {
    color: white;
  }
}

.my-bookings {
  background-color: white;
  box-shadow: $shadow;
  border-radius: 20px;
  padding: 20px 25px 40px;
  width: 100%;
}

.my-booking-card {
  display: flex;
  background-color: white;
  box-shadow: $shadow;
  margin: 20px;
  border-radius: 20px;
}

.my-booking-pic img {
  height: 200px;
  border-radius: 20px 0 0 20px
}

.my-booking-info {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
