// Specific CSS for your home-page
.intro {
  text-align: center;
  font-style: normal;
  font-family: Palanquin Dark;
  //letter-spacing: 2px;
}

.fa-heart{
  color: rgb(94, 14, 78);
}

.card-samples {
  display: flex;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px
}

.body h1, h2, h3, p {
  color: rgb(0, 0, 0);
  text-align: center;
}

.h3-sign{
  margin-bottom: 1.5rem;
}

