// Specific CSS for your home-page
.intro {
  text-align: center;
  font-family: Palanquin Dark;
}

.card-samples {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px
}

.body h1, h2, h3, p {
  color: rgb(54, 27, 66);
}
