
<div class="banner">
  <div class="banner-content">
    <h1>Pick-A-Piggy</h1>
    <p class="mb-5">oinc! oinc!</p>
    <%= link_to "#sample-pigs", style: "text-decoration-color: white" do %>
      <div class="text-center">
        <p class="m-0">Learn about us</p>
        <i class="fa-solid fa-angle-down down-icon"></i>
      </div>
    <% end %>
  </div>
</div>
