<div class="footer">
  <div class="footer-links">
        <p class="made-with m-0"> Made with love  |  Pick-A-Piggy</p>
        <li>
          <a href="#"><i class="fab fa-instagram"></i> @pickapiggy </a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook"></i> @pickapiggy </a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i> @pickapiggy </a>
        </li>
  </div>
</div>
