<%= render "shared/banner" %>
<div class="container">
  <div>
    <p>Are you feeling down and would like some company?</p>
    <p>Does your child love pigs and would love to spend a day with one?</p>
    <h3>Pick-A-Piggy is here to unite you with the perfect piggy!</h3>
  </div>
</div>
