.btn-pink {
  background: $pink;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  transition: 0.3s;
}

.btn-pink:hover{
  background: #AD7AB4;
  color: white;
}

.btn-aux {
  background: none;
  text-decoration: underline $pink;
  &:hover {
    font-weight: bold;
    color: $black;
  }
}
