.footer {
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: $pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
  padding: 0px 50px;
  color: rgb(181, 120, 177);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  li {
    list-style: none;
    font-size: 13px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
  }
}
.footer-links a {
  color: black;
  opacity: 0.20;
  text-decoration: none;
  align-items: center;
}
.footer-links a:hover {
  opacity: 0.6;
}

.made-with{
  color: rgb(94, 14, 78)
}
