// Aqui é a navbar toda
.navbar-pig {
  justify-content: space-between;
  background: rgb(230, 195, 235);
  border-width: 8px;
}

// Aqui a dropddown do avatar
.navbar-pig .navbar-collapse {
  flex-grow: 0;
  align-content: center;
    height: 30px;
  overflow: hidden;
}

// aqui é o icon do porco
.navbar-pig .navbar-brand img {
  width: 50px;
  border-radius: 12px;
}
