.show-container {
  align-content: center;
  padding: 15px;
  margin: 100px;
}

.pig-name {
  font-style: oblique;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(230, 195, 235);
}

.card-piggy {
  height: 460px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-piggy > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-piggy h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-piggy p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-piggy .card-piggy-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-piggy-infos {
  position: absolute;
  right: 5px;
  top: -7px;
  width: 250px;
}

