.show-container {
  align-content: center;
  padding: 15px;
  margin: 100px;
}

.pig-name {
  font-style: oblique;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(230, 195, 235);
}

.card-piggy {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-piggy > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-piggy h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-piggy p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-piggy-infos {
  position: relative;
  padding: 8px 12px;
}

.card-piggy-price {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 30px !important;
  font-weight: bold;
}
